.content {
    padding-bottom: 100px;
}
option[data-starting-value] {
    font-weight: bold;
}
.flag-icons {
    margin-left: 10px;

    .fa {
        margin-left: 10px;
    }
    .fa-star {
        color: #FFD700;
    }
    .fa-music {
        color: #454545;
    }
    .fa-child {
        color: #ff7c9c;
    }
    .fa-slideshare {
        color: #7bcc5b;
    }
}