include mixins
doctype html
html
  head
    meta(charset="utf-8" lang="ru")

    title Все спектакли Харькова на одной странице

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet' href='/node_modules/tether/dist/css/tether.min.css')
    link(rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/node_modules/imagelightbox/dist/imagelightbox.min.css')
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext")
    link(rel='stylesheet' href='/stylesheets/front.css')
    link(rel='stylesheet' href='/stylesheets/front/print.css' media="print")
  body
    #main.container-fluid.main-container.scrolled
      block content
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/tether/dist/js/tether.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='/node_modules/responsive-toolkit/dist/bootstrap-toolkit.min.js')
    script(src='/node_modules/imagelightbox/dist/imagelightbox.min.js')
    script(src='/javascripts/front.js')
