mixin pluralizeAbstractItemsNumber(number, single, several, many)
  - var modulo = number % 10 || 10
  if ((number >= 10 && number < 20) || modulo >= 5)
    = number + ' ' + many
  else if (modulo == 1)
    = number + ' ' + single
  else
    = number + ' ' + several

mixin pluralizeItemsNumber(number)
  +pluralizeAbstractItemsNumber(number, 'штука', 'штуки', 'штук')

mixin pluralizePlaysNumber(number)
  +pluralizeAbstractItemsNumber(number, 'спектакль', 'спектакля', 'спектаклей')