nav.container
  ul.nav
    li.nav-item
      a.nav-link(href='/admin/') Главная
    li.nav-item
      a.nav-link(href='/admin/theatres') Театры
    li.nav-item
      a.nav-link(href='/admin/scenes') Сцены