include mixins
doctype html
html
  head
    title= title

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='shortcut icon' href='/favicon.ico')
    link(rel='stylesheet', href='/node_modules/tether/dist/css/tether.min.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/node_modules/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/node_modules/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css')
    link(rel='stylesheet', href='/node_modules/jquery-ui-dist/jquery-ui.min.css')
    link(rel='stylesheet', href='/node_modules/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    include nav.pug
    .content
      block content
    include footer.pug
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/jquery-ui-dist/jquery-ui.min.js')
    script(src='/node_modules/tether/dist/js/tether.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='/node_modules/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js')
    script(src='/node_modules/bootstrap-datetime-picker/js/locales/bootstrap-datetimepicker.ru.js')
    script(src='/node_modules/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js')
    script(src='/javascripts/admin.js')
