mixin pluralizeAbstractItemsNumber(number, single, several, many)
  - var modulo = number % 10 || 10
  if ((number >= 10 && number < 20) || modulo >= 5)
    = number + ' ' + many
  else if (modulo == 1)
    = number + ' ' + single
  else
    = number + ' ' + several

mixin pluralizeItemsNumber(number)
  +pluralizeAbstractItemsNumber(number, 'штука', 'штуки', 'штук')

mixin pluralizePlaysNumber(number)
  +pluralizeAbstractItemsNumber(number, 'спектакль', 'спектакля', 'спектаклей')

mixin playIcons(play)
  span.flag-icons
    if play.premiere
      i.fa.fa-star(title='Премьера')
    if play.musical
      i.fa.fa-music(title='Музыкальный')
    if play.dancing
      i.fa.fa-slideshare(title='Танцевальный')
    if play.ballet
      i.fa.fa-ra(title='Балет')
    if play.opera
      i.fa.fa-opera(title='Опера')
    if play.forKids
      i.fa.fa-child(title='Детский')

mixin title(title)
  h1
    span.hidden-sm-down= 'Управление — '
    = title