.container
  nav.navbar.navbar-toggleable-sm.navbar-light
    button.navbar-toggler.navbar-toggler-right(
      type="button"
      data-toggle="collapse"
      data-target="#main-nav"
    )
      span.navbar-toggler-icon
    a.navbar-brand(href="#") Управление
    div#main-nav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        if user
          li.nav-item
            a.nav-link(href='/admin/theatres') Театры
          li.nav-item
            a.nav-link(href='/admin/scenes') Сцены
          li.nav-item
            a.nav-link(href='/admin/plays') Спектакли
          li.nav-item
            a.nav-link(href='/admin/schedule') Расписание
      ul.navbar-nav
        if user
          li.nav-item
            a.nav-link(href='/admin/users') Пользователи
        li.nav-item
          a.nav-link(href='/' target='_blank') Хоум ↗