.row.footer
  .col
    p
      | 95% расписания собирается автоматически с вебсайтов театров и других ресурсов.
      br
      | Ошибки возможны. Помогите нам исправить их — присылайте замечания или пожелания Максиму на
      =' '
      a(href='mailto:max.gopey@gmail.com') max.gopey@gmail.com
      |  или в телеграм:
      =' '
      a(href='https://t.me/maxgopey') @maxgopey
    p
      | Некоторых театров все еще нет здесь. Это потому, что их расписание
      | невозможно получить автоматически.

    p А эти уже есть:
    ul
      li Театр имени Шевченко
      li Театр «PostScriptum»
      li Театр имени Пушкина
      li Театр 19
      li Прекрасные цветы
      li Театр «Может быть»
      li Театр «Новая сцена»
      li другие театры Дома Актера
      li Театр «Мадригал»
      li Кукольный театр
      li Театр музыкальной комедии
      li Театр для детей и юношества
      li Оперный театр (ХАТОБ)

    p В скором времени появятся:
    ul
      li
        a(href='http://zhuki.kharkov.ua/afisha.htm') Театр «На Жуках»
      li
        a(href='http://filarmonia.kh.ua/afisha/') Филармония

    p Под вопросом пока остаются:
    ul
      li
        a(href='https://vk.com/ukraine_theatre') Театр МДТ
      li
        a(href='https://vk.com/diytheatre') DIY-театр
      li
        a(href='https://vk.com/club125835054') Театр «Время-Ч»
      li
        a(href='https://www.facebook.com/teatr.publicist/') Театр «Публицист»
      li
        a(href='https://vk.com/club7016241') Театр-студия «Ступени»
      li
        a(href='https://vk.com/vinora_playing_town') Театр-студия «Винора»
      li
        a(href='https://vk.com/club69951159') Харьковский театр для взрослых (Харьковский драматический театр)
      li
        a(href='http://dum.kharkov.ua/afisha.htm') Харьковский Университет Искусств
      li
        a(href='https://internet-bilet.ua/event-rooms/item.html?room_id=606&name=OTs_Estet') Театр «Лукоморье»
    p
      | Спектакли из этих театров пока добавляются вручную постепенно.
      br
      | Если вы имеете отношение к одному из них и можете чем-то помочь, свяжитесь, пожалуйста, с нами:
      =' '
      a(href='mailto:max.gopey@gmail.com') max.gopey@gmail.com
      |  или в телеграме:
      =' '
      a(href='https://t.me/maxgopey') @maxgopey
      | .