.row.footer
  .col
    p
      | 95% расписания собирается автоматически с вебсайтов театров и других ресурсов.
      | Ошибки возможны. Помогите нам исправить их — присылайте замечания или пожелания Максиму на
      a(href='mailto:max@theatres.kh.ua') max@theatres.kh.ua
      | .
    p
      | Некоторых театров все еще нет здесь. Это потому, что их расписание
      | невозможно получить автоматически.
    p А эти уже есть:
    ul
      li Театр имени Шевченко
      li Театр «PostScriptum»
      li Театр имени Пушкина
      li Все театры Дома Актера
      li Театр «Мадригал»
      li Кукольный театр
      li Театр музыкальной комедии
      li Театр для детей и юношества
      li Оперный театр (ХАТОБ)
    p В скором времени появятся:
    ul
      li Театр «На Жуках»
      li Филармония и Органный зал
    p Под вопросом пока остаются:
    ul
      li Театр «Публицист»
      li Театр DADA
      li Театр-студия «Ступени»
      li Театр-студия «Винора»
      li Харьковский драматический театр
    p
      | Спектакли из этих театров пока добавляются вручную постепенно.
      br
      | Если вы имеете отношение к одному из них и можете чем-то помочь, свяжитесь, пожалуйста, с нами: 
      a(href='mailto:max.gopey@gmail.com') max.gopey@gmail.com
      | .
